.socialContainer {
  padding: 2rem 0 4rem;
}

.socialLinks > div:nth-child(odd) {
  padding-right: calc(var(--ifm-spacing-horizontal) / 2);
}

.socialLinks > div:nth-child(even) {
  padding-left: calc(var(--ifm-spacing-horizontal) / 2);
}

.socialLinks > div {
  margin-bottom: var(--ifm-spacing-vertical);
}

.col {
  --ifm-col-width: 50%;
  margin-top: var(--ifm-spacing-vertical);
}

.btn {
  width: 100%;
  border-color: var(--ifm-color-emphasis-200);
  padding: 1rem 0;
}

.btn--active .btnText,
.btn:active .btnText,
.btn:hover .btnText,
.btn:focus .btnText {
  color: var(--ifm-font-color-base-inverse);
}

.btn--active .btnIcon,
.btn:active .btnIcon,
.btn:hover .btnIcon,
.btn:focus .btnIcon {
  fill: var(--ifm-font-color-base-inverse);
}

.btnIcon {
  display: block;
  width: 1.5rem;
  padding: 0.5rem 0;
  margin: 0 auto;
  fill: var(--ifm-button-color);
}

.btnText {
  display: block;
  color: var(--ifm-font-color-base);
}
